<!-- For loop to loop over data for card creation; for now have static cards: -->

<div class="container">
  <main class="grid">
    <% for (let i = 0; i <= 20; i++) { %>
    <article>
      <div class="text">
        <h3><%= i %></h3>
        <p>Here is a sentence about a really great study resource! Currently the cards need a longer sentence to render properly</p>
      </div>
    </article>
    <% } %>
  </main>
</div>
