<!-- Top nav bar (fixed) -->
<nav>
  <!-- this will be an icon with link to home page (refresh if on home page): -->
  <div id="left-nav">
    <a href="/"><img src="/assets/drawing1.png" alt="Linkfolio logo" /></a>
  </div>
  <div class="search">
    <form method="GET" action="/pins/">
      <!-- Search bar will also include magnifying glass icon -->
      <input type="search" class="fontAwesome" id="query" name="q" placeholder="&#xF002;" value="">
    </form>
  </div>
  <div id="right-nav">
    <% if (userId) { %>
      <!-- Plus icon: -->
      <a href="/pins/new"><i class="fa-solid fa-plus"></i></a>
      <!-- User icon: -->
      <a href="/users/<%= userId %>"><i class="fa-solid fa-user"></i></a>
      <% } %>
  </div>
</nav>
