<!-- Top nav bar (fixed) -->
<nav>
  <!-- this will be an icon with link to home page (refresh if on home page): -->
  <div id="left-nav">
    <a href=""><i class="fa-solid fa-circle"></i></a>
    <a href="">@bobsmith</a>
  </div>
  <div id="search">
    <form>
      <!-- Search bar will also include magnifying glass icon -->
      <input type="search" id="query" name="q" placeholder="&#xF002;">
    </form>
  </div>
  <div id="right-nav">
    <!-- Plus icon: -->
    <a href="/pins/new"><i class="fa-solid fa-plus"></i></a>
    <!-- User icon: -->
    <a href=""><i class="fa-solid fa-user"></i></a>
  </div>
</nav>
