<div id="pin">
  <div>
    <h1>Pin Title</h1>
    <!-- Note to incorporate back arrow instead of "x" button -->
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Egestas quis ipsum suspendisse ultrices gravida dictum fusce. Tortor posuere ac ut consequat semper. Enim facilisis gravida neque convallis a. Elementum pulvinar etiam non quam lacus.
    </p>
  </div>
  <img href="https://unsplash.com/photos/DuHKoV44prg">
  <!-- This could be reproduced as a partial: -->
  <span>JavaScript</span>
  <div id="hearts-stars">
    <i class="fa-regular fa-heart"></i>
    <!-- Display filled heart (below) dynamically if user has liked pin: -->
    <a href=""><i class="fa-solid fa-heart"></i></a>
    <div class="stars empty">
      <a href=""><i class="fa-regular fa-star"></i></a>
      <a href=""><i class="fa-regular fa-star"></i></a>
      <a href=""><i class="fa-regular fa-star"></i></a>
      <a href=""><i class="fa-regular fa-star"></i></a>
      <a href=""><i class="fa-regular fa-star"></i></a>
    </div>
    <div class="stars full">
      <a href=""><i class="fa-solid fa-star"></i></a>
      <a href=""><i class="fa-solid fa-star"></i></a>
      <a href=""><i class="fa-solid fa-star"></i></a>
      <a href=""><i class="fa-solid fa-star"></i></a>
      <a href=""><i class="fa-solid fa-star"></i></a>
    </div>
    <div id="comments">
      <article>
        <i class="fa-solid fa-user"></i>
        <div>
          <h5>username</h5>
          <h6>1d</h6>
        </div>
        <p>Wow, this is awesome! FreeCodeCamp always makes quality content.</p>
      </article>
    </div>
</div>
