<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
    <!-- Top nav bar (fixed) -->
    <nav>
      <!-- this will be an icon with link to home page (refresh if on home page): -->
      <span>linkfolio</span>
      <a href="">@bobsmith</a>
      <form id="form">
        <!-- Search bar will also include magnifying glass icon -->
        <input type="search" id="query" name="q" placeholder="Search">
      </form>
      <!-- Plus icon: -->
      <a href="">+</a>
      <!-- User icon: -->
      <a href="">U</a>
      <button>Log out</button>
    </nav>
  <h1>Have fun! 🥔</h1>
</body>

</html>
