.grid {
  margin: 50px 0px 50px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  grid-gap: 20px;
  max-width: 100%;
  gap: 1.5em;
  padding: 2.5em 4em 0em;
  margin-left: 1.5em; // Because justify-content is set to flex-start here,
  // adding a bit of margin on the left side adjusts for grid no longer
  // appearing centered (toggle on and off to view the difference here)
}

div.image {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  color: #333;
  border-radius: 25px;
  width: 13rem;
  height: 18rem;
  border-radius: 25px;
}

div.image:hover {
  opacity: 0.75;
}

p.text-link {
  height: 10em;
  margin: 0;
  padding-top: 1em;
}

article {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 235px;
  font-size: 0.9rem;
}

div.meta-text {
  padding-left: 8px;
}

h3 {
  margin: 0;
}

div.icon-username {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 1.5rem;
}

.grid .text {
  padding: 20px;
}

div.text h3 {
  margin: 0;
  height: 40px;
  overflow: hidden; /* Ensures no overflow */
}
