
/* Container styles */
.container {
  position: relative;
  background-color: #d9d9d9;
  padding: 3rem;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column; 
  align-items: center;
  border-radius: 10px;
  height: fit-content;
  max-width: 50%;
  color: #5f636a;
  margin-top: 95px;
}
/* 'information you add here' text */
.container p {
  width: 80%;
}

.container h2,
.container p {
  margin: 10px auto;
}

.form-field label {
  width: 80%;
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

/* design to have first and last name on same line 
.full-name-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.full-name {
  width: 49%; 
}
*/

.form-field input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
}

#save-button {
  background-color: #6c63ff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  width: 50%;
  margin-top: 20px;
}

/* Icons */
.fa-xmark {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #5f636a;
  font-size: 20px;
}

.form-field textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px; 
  box-sizing: border-box;
  resize: none;
}

input::placeholder, textarea::placeholder {
  color: grey; 
  opacity: 1; 
}
