#pin {
  display: flex;
  width: 50%;
  height: 50rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 75px;
  border: 0.25px solid grey;
  // Add shadow rather than border for box
  border-radius: 25px;
  padding: 3rem;
}

#comments article {
  display: flex;
  justify-content: flex-start;
  background-color: red;
  border-radius: 25px;
  background-color: #fff;
}
