#pin {
  display: flex;
  width: 50%;
  flex-direction: column;
  margin-top: 95px;
  margin-bottom: 25px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  color: #333;
  border-radius: 25px;
  padding: 3rem;
}

.close-button {
  align-self: flex-end;
}

.pin-container {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text h1, p {
  margin: 0;
}

img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
}

#single-pin-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35rem;
  width: 100%;
  padding: 4em;
}

.tag {
  background-color: #6b63ff4c;
  height: 2rem;
  text-align: center;
  border-radius: 25px;
  border: none;
  padding: 6px 16px;
  width: max-content;
}

.tag:hover {
  background-color: #6b63ff6f;
}

#heart-stars {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.comments hr {
  border: 0px;
  height: 1px;
  background: #f6f6f6;
  width: 100%;
}

.comment {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 25px;
}

.comment-user {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  flex-basis: 35%;
}

.comment-user i {
  margin-top: 2px;
  font-size: 16px;
}

.comment-name-date {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4px;
}

.comment-name-date h5 {
  margin: 0;
  font-size: 16px;
}

.comment-name-date h6 {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: #a7a7a7;
  margin-left: 1px;
}

.username:hover {
  text-decoration: underline;
}

.comment p {
  flex-basis: 65%;
}

h5 {
  margin: 0;
}

div.stars {
  cursor: pointer;
}

i.fa-regular:hover {
  color: #564ef0;
  cursor: pointer;
}

input[type="radio"] {
  position: fixed;
  visibility: hidden;
}

input[type="radio"]:checked + label {
  color: #564ef0;
}

#add-comment{
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: #f6f6f6;
  color: black;
}

.fa-invisible {
  visibility: hidden;
}

.fa-heart {
  color: #564ef0;
}

.fa-heart:hover {
  cursor: pointer;
}
